.card {
    height: 256px;
    width: 970px !important;
    border : 1px solid #D9D9D9;
    border-radius: 4px;
    margin-left: 10px;
}

.head-card-title{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}

.location-title {
    font-size: 12px;
    font-weight: 400;
    font-family: Poppin;
}

.available {
    color: #E5062E;
}

.sustainable-level { 
    color: #4C9839;
}

.included {
    color: #565656
}

.see-availability {
    color: #07689F;
    font-weight: 800;
}

.money {
    color: #4C9839;
    font-weight: 700;
}

.discount {
    color: #E5062E;
}

.review{
    color: #565656;

}

.experience{
    color: #A6A6A6;
    font-size:12px;
    font-weight: 400;
}

.trip-sustainable{
    font-size:12px;
    font-weight: 400;
    color:#4C9839;
}