.title {
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.search-input{
    width:342px;
    height: 56px;
    border: 2px solid #D9D9D9;
}
.head-sidebar-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.search-button {
    background-color: #07689F;
    color: white;
    border-radius: 4px;
    width: 182px;
    height: 56px;
}

.min-price {
    border: 1px solid #A6A6A6;
    color: #A6A6A6 !important;
    font-size: 12px !important;
    margin: 2px;
    width: 106px;
    height: 34px;
    border-radius: 4px;
}

.sort-by {

}


.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .pagination li {
    margin: 0 5px 20px 20px;
  }
  
  .pagination li a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

    color: #07689F;
    cursor: pointer;
  }
  
  .pagination li a:hover {
    background-color: #f0f0f0;
  }
  
  .pagination li.active a {
    background-color: #07689F;
    color: white;
    border: 1px solid #07689F;
  }


  .small-input{

    width:50px;
    height: 56px;
    border: 2px solid #D9D9D9;
  }

  .sort-by-input{
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    width: 269px;
    height: 40px;
    color: #565656;
    padding-left: 6px;
    margin-left: 6px;
  }

  .gothenberg {
    color: #565656;
    font-size: 20px;
    font-weight: 700;

  }

  .properties-found{
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #000000;
  }

  .travel {
    color: #565656;
  }
