.side-card-payment {
    width: 519px;
    height:576px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.ancilaries{
    color:#565656;
    font-weight: 400;
}

.description div {
    color : #565656;
}