.side-card-payment {
  width: 519px;
  height: 576px;
  border-radius: 8px;
  border: 1px solid white;
}

.ancilaries {
  color: #565656;
  font-weight: 400;
}

.description div {
  color: #565656;
}

.payment-name {
  font-weight: 700;
  font-size: 16px;
}

.payment-mail {
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.check-button {
  border: 1px solid #07689f;
  border-radius: 4px;
  color: #07689f;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10%;
}

.who-are-you {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.main-guest {
  color: #565656;
}

.enter-info {
  font-weight: 700;
  font-size: 24px;
}

.edit-profile {
  font-weight: 400;
  font-size: 14px;
  color: #07689f;
  margin-left: 70%;
}

.profile-card {
  border: 1px solid #ffffff;
}

.payment-container {
  background-color: #efefef;
}

.head-title {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.classic-input {
  width: 170px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid grey;
  padding-left: 3px;
}
.short-input {
  width: 80px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid grey;
}
.email-phone {
  font-size: 12px;
}

.long-payment-input {
  width: 340px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid grey;
}

.check-in {
  width: 200px;
}

.price-summary {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
}

.original-price {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
}

.price-and-nights {
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  color: #4C9839;
}

.check-in-border {
  border-left: 2px solid #07689f;
  padding-left: 9px;
  border-radius: 4px;
}

.sub-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
.radio-text {
  color: #565656;
  font-size: 10px;
  font-weight: 300;
}
.room-characters  {
  display: flex;
  background-color: #e8f5e4;
  border: 1px solid #4c9839;
  border-radius: 4px;
  width: 149.67px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  margin: 4px;
  padding-left: 6px;
}

.text-area-message {
  width: 95%;
  height: 106px;
  border: 1px solid #a6a6a6;
  border-radius: 2px;
}

.smart-title {
  font-weight: 500;
  font-size: 14;
}

.superior-twin-room {
  font-size: 20px;
  font-weight: 400;
  margin-left: 4px;
  padding-top: 2px;
}

.plain-text
{
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.save-in-shortcut {
  border: 1px solid #07689F;
  border-radius: 4px;
  padding: 16px;
  width: 230px;
  height: 48px;
  color: #07689F;
}

.payment-button {
  width: 277px;
  height: 48px;
  padding: 16px;
  color: white;
  background-color: #07689F;
  border-radius: 4px;
}

.cleanliness-room-rate{
  font-weight: 400;
  font-size: 14px;
}

.reviews{
  width: 20px;
  height: 20px;
  border: 1px solid #07689F;
  border-radius: 4px;
  padding: 1px;
  color: #07689F;
}

.please-select{
  border: 1px solid #A6A6A6;
  border-radius: 4px;
  width: 244px;
  height: 32px;
  padding-left: 4px;
  margin-bottom: 6px;
}

.payment-method-input{
  width: 94px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid grey;
  margin-right: 20%;
}

.booking-for-work{
  margin-left: 20%;
}

.adult-number{
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}

.pay-part-now-radio{
  margin-left: auto;
}

.background-payment{
  background-color: #EFEFEF;
}

.nights-stay{
  font-size: 16px;
  font-weight: 700;
  color: #565656 !important;
}

.discount {
  margin-left: auto;

}

.discount-letter{
  color: #565656 !important;
}

.section-width{
  width: 665px;
}
.payment-information{
  margin-bottom: 5px;
  padding-bottom: 10px;
}