th {
    background-color: #A6A6A6 !important;
    text-align: center;
}

td{
    color: #000000;
    font-size: 16px;
    line-height: 22.4px;
    font-weight:700;
    border: 1px solid #D9D9D9;
    text-align: center;
}

.sub-title {
    color: #000000;
    font-size: 16px;
    line-height: 22.4px;
    font-weight:700;
}