.favorite-card{
    width: 392px;
    height: 248px;
    border: 1px solid #D9D9D9;
    padding: 8px;
    border-radius: 8px;
}

.fav-card-image {
    width: 50%;
}

.fav-card-info{
    width: 50%;
}

.black-price{
    font-weight: 700;
    font-size: 16px;
    
}