.blue-title-small{
    color: #07689F;
    font-weight: 400;
    font-size: 12px;
}

.blue-title-medium{
    color: #07689F;
    font-weight: 700;
    font-size: 16px;
}

.long-tab{
    width: 300px;
    height: 48px;
}

.bar-code{
    height:48px;
}

.layovers{
    width: 600px;

}

.green-title{ 
    color: #4C9839;
    font-weight:700;
    font-size: 16px;
}