.ath-button {
  width: 189px !important;
  height: 40px !important;
  color: #07689f;
  border: 1px solid #07689f;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.classic-image {
  width: 36px;
  height: 36px;
}

.middle{
  background-color: white;
}

.middle.active {
  background-color: #07689f;
  color: white;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.middle:hover {
  background-color: #05486c;
  border-radius: 30px;
  color: white;
}

