.sign-in-button {
  width: 189px;
  color: white;
  border: 1px solid #07689f !important;
  background-color: white;
  border-radius: 4px;
  height: 40px;
}

.nav-search {
  width: 697px;
  height: 40px;
  color: #d9d9d9;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  height: 40px;
}
.head-titles {
  font-weight: 700;
  font-size: 32px;
  line-height: 44.8px;
  color: #000000;
}

.footer-title {
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 22.4px !important;
  color: #000000 !important;
  margin-top: 40px;
}

.footer-text li {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.footer-text {
  width: 16%;
}

.product-tags div {
  position: relative;

  color: #a6a6a6;
  width: 121.67px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #a6a6a6;
  text-align: center;
  margin-right: 10px;
  vertical-align: middle;
}
.middle {
  padding-top: 10px;
}
.button-classic {
  background-color: #07689f;
  color: white;
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 4px;
}

.white-button-classic {
  background-color: white;
  color: #07689f;
  padding: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #07689f;
  margin-top: 12px;
  height: 20%;
}

.blue-title {
  color: #07689f;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
}

.sub-title {
  color: #07689f;
  font-weight: 400;
  font-size: 14px;
}

.grey-head-title {
  color: #565656;
  font-weight: 700;
  font-size: 24px;
}

.search-input-style {
  width: 397px;
  height: 56px;
  border: 1px solid #a6a6a6;
  font-size: 12px;
  color: #000000 !important;
  padding-left: 10px;
}

body {
  overflow-x: hidden; /* Hide scrollbars */
}

.error-field {
  color: #e5062e;
  font-size: 12px;
}

.center-gov{
  padding-left: 130px;
}

div {
  font-size: 12px;
}