.signup-page{
   padding: 208px;
}
.signup-navbar{
    width: 1440px;
    height:108px;
    border-bottom: 1px solid #A6A6A6;
}
.sign-up-box {
    width: 1064px;
    height: 713px;
    border-radius: 16px;
    border: 1px solid #A6A6A6;
    
   background-color: #EFEFEF
}
.left-image{
    width: 40%;
}

.login-head {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

div {
    font-size:12px;
}

.sign-in-button {

        background-color: #07689f;
        border-radius: 4px;
        padding-left: 16px;
        padding-right: 16px;
        padding: 8px;
        width: 392px;
        height:48px;
        color: white;
      
}

.input-style{
    width: 170px;
    height: 48px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #A6A6A6;


}

.input-style-long{
    width: 392px;
    height: 48px;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #A6A6A6;


}